<!-- Page Preloder -->
<div id="preloder">
    <div class="loader"></div>
</div>

<!-- Header Section Begin -->
<header class="header">
    <div class="header__top">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-7">
                    <div class="header__top__left">
                        <p>Free shipping, 30-day return or refund guarantee.</p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-5">
                    <div class="header__top__right">
                        <div class="header__top__links">
                            <a href="https://localhost:4000/user/login">Login</a>
                            <a href="https://localhost:4000/user/signup">Sign up</a>
                            <a href="#">FAQs</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3">
                <div style="display: flex; justify-content: center; align-items: center; height: 100%; width: 100%;">
                    <a href="#"><img src="/img/header-logo.png" height="60" alt=""></a>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <nav class="header__menu mobile-menu">
                    <ul>
                        <li><a href="./index.html">Home</a></li>
                        <li class="active"><a href="./shop.html">Shop</a></li>
                        <li><a href="./shop.html">Contact</a></li>
                        <li><a href="./shop.html">About Us</a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-lg-3 col-md-3">
                <div class="header__nav__option">
                    <a href="#"><img src="/img/icon/heart.png" alt=""></a>
                    <a href="#"><img src="/img/icon/shopping-cart.png" alt=""></a>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Header Section End -->