<div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editModalLabel">Add New User</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="editForm" enctype="multipart/form-data" method="post" name="editForm">
          <!-- Your form fields go here. For example: -->
          <div class="mb-2">
            <label for="usernameAdd" class="form-label" style="color: #000">Username<span
                class="text-danger">(*)</span></label>
            <input type="text" class="form-control" id="usernameAdd" name="usernameAdd" required>
          </div>
          <div class="mb-2">
            <label for="passwordAdd" class="form-label" style="color: #000">Password<span
                class="text-danger">(*)</span></label>
            <input type="passwordAdd" class="form-control" id="passwordAdd" name="passwordAdd" required>
          </div>
          <div class="mb-2">
            <label for="fullnameAdd" class="form-label" style="color: #000">Full Name<span
                class="text-danger">(*)</span></label>
            <input type="text" class="form-control" id="fullnameAdd" name="fullnameAdd" required>
          </div>
          <div class="mb-2">
            <label for="emailAdd" class="form-label" style="color: #000">Email<span
                class="text-danger">(*)</span></label>
            <input type="emailAdd" class="form-control" id="emailAdd" name="emailAdd" required>
          </div>
          <div class="mb-2">
            <label for="phonenumberAdd" class="form-label" style="color: #000">Phone<span
                class="text-danger">(*)</span></label>
            <input type="text" class="form-control" id="phonenumberAdd" name="phonenumberAdd" required>
          </div>
          <div class="mb-2">
            <label for="addressAdd" class="form-label" style="color: #000">Address</label>
            <input type="text" class="form-control" id="addressAdd" name="addressAdd">
          </div>
          <div class="mb-2">
            <label for="avatarAdd" class="form-label" style="color: #000">Avatar</label>
            <input type="text" class="form-control" id="avatarAdd" name="avatarAdd">
          </div>
          <div class="mb-2">
            <label for="role" class="form-label" style="color: #000">Role<span class="text-danger">(*)</span></label>
            <select class="form-select" aria-label="Default select example" id="roleAdd" name="roleAdd" required>
              <option value="0" selected>User</option>
              <option value="1">Admin</option>
            </select>
          </div>

          <!-- Add more form fields as needed -->
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="createBtn">Create</button>
      </div>
    </div>
  </div>
</div>

<script>
  const createBtn = document.getElementById('createBtn');
  createBtn.addEventListener('click', function () {

    $('#addModal').modal('hide');

    const usernameAdd = document.getElementById('usernameAdd').value;
    const passwordAdd = document.getElementById('passwordAdd').value;

    const fullnameAdd = document.getElementById('fullnameAdd').value;
    const emailAdd = document.getElementById('emailAdd').value;
    const phonenumberAdd = document.getElementById('phonenumberAdd').value;
    const avatarAdd = document.getElementById('avatarAdd').value;
    const addressAdd = document.getElementById('addressAdd').value;
    const isadminAdd = document.getElementById('roleAdd').value === '1';

    const data = {
      username: usernameAdd,
      password: passwordAdd,
      fullname: fullnameAdd,
      email: emailAdd,
      phonenumber: phonenumberAdd,
      avatar: avatarAdd,
      address: addressAdd,
      isadmin: isadminAdd
    }
    console.log(data);

    $.ajax({
      url: '/admin/users/create',
      method: 'POST',
      data: data,
      success: function (res) {
        if (res.success === true) {
          showToast('Create User Status', res.message);
          reloadPageOnToastHiden();
        }
        else {
          showToast('Create User Status', res.message);
        }
      }
    });

  });
</script>