<!-- Map Begin -->
{{!-- Contact section --}}
<div id="contact" class="row d-flex p-5 bg-white-color-90 flex-column text-start">
    <div class="mx-3">
        <div class="row row-cols-1 row-cols-md-2 mx-3">
            <div class="col">
                <div class="section-title">
                    <span>Information</span>
                    <h2>Contact Us</h2>
                    <p>Have questions or need support?<br />
                        Please contact us for detailed guidance and advice on platform issues.</p>
                </div>
                <div class="my-address h-75">
                    <div class="row ">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.635863047679!2d106.6797512748567!3d10.762521589385393!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f1bfc262bf1%3A0x4e843897f2900135!2zMjI3IMSQLiBOZ3V54buFbiBWxINuIEPhu6ssIFBoxrDhu51uZyA0LCBRdeG6rW4gNSwgVGjDoG5oIHBo4buRIEjhu5MgQ2jDrSBNaW5oLCBWaWV0bmFt!5e0!3m2!1sen!2s!4v1704601347126!5m2!1sen!2s"
                            style="border:0;" allowfullscreen="" loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
            </div>
            <div class="col">
                {{!-- Email --}}
                <div class="row ps-4">
                    <div class="col-auto justify-content-center">
                        <i class="fas fa-envelope"></i>
                    </div>
                    <div class="col justify-content-center">
                        <p class="h5 fw-bold">Email</p>
                    </div>
                </div>
                <div class="row ps-4 mb-3">
                    <div class="col-auto justify-content-center" style="visibility: hidden;">
                        <i class="fas fa-envelope"></i>
                    </div>
                    <div class="col justify-content-center">
                        <a href="mailto:support.infinityteam"
                            style="color: #000">support.infinityteam@hcmus.edu.vn</a>
                    </div>
                </div>
                {{!-- Điện thoại --}}
                <div class="row ps-4">
                    <div class="col-auto justify-content-center">
                        <i class="fas fa-phone"></i>
                    </div>
                    <div class="col justify-content-center">
                        <p class="h5 fw-bold">Điện thoại</p>
                    </div>
                </div>
                <div class="row ps-4 mb-3">
                    <div class="col-auto justify-content-center" style="visibility: hidden;">
                        <i class="fas fa-phone"></i>
                    </div>
                    <div class="col justify-content-center">
                        <a href="tel:84357031330" style="color: #000">+84 3570 31330</a>
                    </div>
                </div>
                {{!-- Địa chỉ --}}
                <div class="row ps-4">
                    <div class="col-auto justify-content-center">
                        <i class="fas fa-map-marker-alt"></i>
                    </div>
                    <div class="col justify-content-center">
                        <p class="h5 fw-bold">Địa chỉ</p>
                    </div>
                </div>
                <div class="row ps-4 mb-3">
                    <div class="col-auto justify-content-center" style="visibility: hidden;">
                        <i class="fas fa-phone"></i>
                    </div>
                    <div class="col justify-content-center">
                        <p>227 Nguyễn Văn Cừ, Phường 4, Quận 5, TP. Hồ Chí Minh</p>
                    </div>
                </div>
                <div class="row ps-4">


                </div>

            </div>

        </div>
    </div>
</div>

{{!-- <!-- Contact Section Begin -->
<section class="contact spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="contact__text">
                    <div class="section-title">
                        <span>Information</span>
                        <h2>Contact Us</h2>
                        <p>As you might expect of a company that began as a high-end interiors contractor, we pay
                            strict attention.</p>
                    </div>
                    <ul>
                        <li>
                            <h4>America</h4>
                            <p>195 E Parker Square Dr, Parker, CO 801 <br />+43 982-314-0958</p>
                        </li>
                        <li>
                            <h4>France</h4>
                            <p>109 Avenue Léon, 63 Clermont-Ferrand <br />+12 345-423-9893</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="contact__form">
                    <form action="#">
                        <div class="row">
                            <div class="col-lg-6">
                                <input type="text" placeholder="Name">
                            </div>
                            <div class="col-lg-6">
                                <input type="text" placeholder="Email">
                            </div>
                            <div class="col-lg-12">
                                <textarea placeholder="Message"></textarea>
                                <button type="submit" class="site-btn">Send Message</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section> --}}
<!-- Contact Section End -->