<form id="login-form" action="/user/login" method="POST">
    <h2 class="form-title">Login</h2>

    <div class="separator">
        <h4 class="hidden-error"></h4>
    </div>

    <label for="username" class="form-label">
        Username:
    </label>
    <div class="input-group">
        <span class="input-group-text" id="basic-addon1">
            <i class="fa-solid fa-circle-user"></i>
        </span>
        <input type="text" required class="form-control" name="username" id="username">
    </div>

    <label for="password" class="form-label">Password: </label>
    <div class="input-group">
        <span class="input-group-text" id="basic-addon1">
            <i class="fa-solid fa-key"></i>
        </span>
        <input type="password" required class="form-control" name="password" id="password">
    </div>


    <div class="button-row">
        <button id="login-submit-btn" type="button" class="btn btn-primary">Login</button>
    </div>

    <div class="button-row">
        <button type="button" class="btn btn-primary">
            <a href="/user/signup" style="color: white !important; text-decoration: none !important;">Sign up</a>
        </button>

        <a href="/auth/google">
            <button id="google-login-btn" type="button" class="btn btn-primary">
                <i class="fa-brands fa-google-plus"></i>
                Login with Google account
            </button>
        </a>
    </div>

</form>

<script>
    $('#login-submit-btn').on('click', async (e) => {
        e.preventDefault();
        let user = await $.ajax({
            url: '/user/login',
            method: "POST",
            dataType: 'json',
            data: {
                username: $('#username').val(),
                password: $('#password').val(),
            }
        });

        if (user) {
            $('.hidden-error').removeClass('visible');
            window.location.replace('https://localhost:3000/');
        } else {
            $('.hidden-error').addClass('visible');
            alert("Incorrect username or password");
            $('.hidden-error').text("Incorrect username or password");

        }
    });
</script>