<form id="signup-form" method="POST" action="/user/signup">
    <h2 class="form-title">Signup</h2>

    <label for="username" class="form-label">
        Username:
    </label>
    <div class="input-group">
        <span class="input-group-text" id="basic-addon1">
            <i class="fa-solid fa-circle-user"></i>
        </span>
        <input type="text" required class="form-control" name="username" id="username" required>
    </div>

    <label for="password" class="form-label">Password: </label>
    <div class="input-group">
        <span class="input-group-text" id="basic-addon1">
            <i class="fa-solid fa-key"></i>
        </span>
        <input type="password" required class="form-control" name="password" id="password" required>
    </div>

    <label for="fullname" class="form-label">Full name: </label>
    <div class="input-group">
        <span class="input-group-text" id="basic-addon1">
            <i class="fa-solid fa-circle-user"></i>
        </span>
        <input type="text" required class="form-control" name="fullname" id="fullname" required>
    </div>

    <label for="email" class="form-label">Email: </label>
    <div class="input-group">
        <span class="input-group-text" id="basic-addon1">
            <i class="fa-solid fa-envelope"></i>
        </span>
        <input type="email" required class="form-control" name="email" id="email" required>
    </div>

    <label for="phonenumber" class="form-label">Phone: </label>
    <div class="input-group">
        <span class="input-group-text" id="basic-addon1">
            <i class="fa-solid fa-square-phone-flip"></i>
        </span>
        <input type="text" required class="form-control" name="phonenumber" id="phonenumber" required>
    </div>

    <label for="address" class="form-label">Address: </label>
    <div class="input-group">
        <span class="input-group-text" id="basic-addon1">
            <i class="fa-solid fa-location-dot"></i>
        </span>
        <input type="text" required class="form-control" name="address" id="address">
    </div>

    <div class="button-row">
        <button type="button" class="btn btn-primary">
            <a href="/user/login" style="color: white !important; text-decoration: none !important;">Login</a>
        </button>

        <button id="signup-submit-btn" type="button" class="btn btn-primary">Signup</button>
    </div>
</form>


<script>
    $('#signup-submit-btn').on('click', async (e) => {
        try {
            validateForm();

            let userList = await $.ajax({
                url: '/user/list',
                method: "GET",
                dataType: 'json',
            });

            if (!userList || userList.length <= 0) {
                $('.hidden-error').removeClass('visible');
                $('#signup-form').submit();
                return;
            }

            let inputUsername = $('#username').val();

            for (let i = 0; i < userList.length; i++) {
                if (!userList[i]) {
                    continue;
                }
                if (userList[i].username == inputUsername) {
                    throw new Error('The username is already existed');
                }
            }

            $('.hidden-error').removeClass('visible');
            $('#signup-form').submit();

        } catch (error) {
            Toastify({
                text: error.message,
                duration: 3000,
                newWindow: true,
                close: false,
                gravity: "top", // `top` or `bottom`
                position: "right", // `left`, `center` or `right`
                stopOnFocus: true, // Prevents dismissing of toast on hover
                style: {
                    width: "250px",
                    background: "linear-gradient(to right, #00b09b, #96c93d)",
                },
                onClick: function () { } // Callback after click
            }).showToast();
        }

    });

    function validateForm() {
        let username = $('#username').val();
        let password = $('#password').val();
        let fullname = $('#fullname').val();
        let email = $('#email').val();
        let phonenumber = $('#phonenumber').val();
        let address = $('#address').val();

        if (!username || !password || !fullname || !email || !phonenumber || !address) {
            throw new Error('Please fill all the fields');
        }

        const emailRegex = /\S+@\S+\.\S+/;
        const phoneRegex = /^\d{10}$/;

        if (!emailRegex.test(email)) {
            throw new Error('Invalid email');
        }

        if (!phoneRegex.test(phonenumber)) {
            throw new Error('Invalid phone number');
        }

        if (password.length < 6) {
            throw new Error('Password must be at least 6 characters');
        }
    }
</script>