body {
    margin: 0;
    box-sizing: border-box;

}

div {
    border-radius: 4px;
}

.form-label {
    margin: 10px 0 2px 0;
}

.form-check {
    margin: 12px 0;
}

.app {
    width: 1400px;
    max-width: 100%;
    margin: 0 auto;
    min-height: 100vh;

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    background-color: #ebebeb;
}

.my-header {
    width: 100%;
    margin: 8px 0;
    background-color: #104070;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    color: white;
}

.header-data {
    min-width: 100px;
    margin: 2px 4px;
    border: 1px solid white;
    text-align: center;
}

.title {
    color: yellow;
    letter-spacing: 4px;
    text-transform: uppercase;
    margin: 20px 0;
    font-size: 32px;    
}

.sub-title {
    color: white;
    font-weight: 400;
    margin: 4px 0;

}

.my-footer {
    margin: 16px 0;
    width: 100%;
    background-color: #104070;
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: white !important;
}


.hidden-error {
    display: inline;

    color: red;
    font-size: 20px;
    font-weight: bold;
}

.hidden-error.visible {
    display: inline;
}


.button-row {
    margin: 20px 0;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}

.button-row > button {
    min-width: 200px;
    margin: 10px 0;
}

.button-row > button:hover {
    opacity: 0.7;
}

form {
    background-color: #104070;
    padding: 20px;
    color: white;
}

#login-form,
#signup-form {
    width: 500px;
    margin: 0 auto;
}
.form-title {
    width: 100%;
    text-align: center;
}

.time_input {
    margin-right: 10px;
}

.my-nav {
    width: 100%;
    padding: 4px 0;
    display: flex;
    flex-flow: row wrap;
    border: dotted 2px #104070;

    justify-content: space-between;
    align-items: center;
}

.user-route {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.my-nav > a,
.user-route > a,
.user-info > a {
    background-color: #104070;
    padding: 8px;
    margin: 0 8px;
    border-radius: 4px;
    color: white !important;
    text-decoration: none !important;
}

.my-nav > button {
    padding: 12px;
    font-size: 20px;
    margin: 8px 0;
    background-color: rgb(12, 54, 194);
    border-radius: 4px;
    box-shadow: 1px 1px #ebebeb;
    cursor: pointer;
    align-self: center;
    color: white !important;
}


/* AUTH PROFILE */

.user-img {
    width: 400px;
    height: 400px;
    padding: 4px 0;
}

.user-row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}

.user-info {
    width: 600px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: start;
    /* margin: 0 20px; */

    padding: 0 20px;
}


.user-data {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.form-check-input {
    margin: 8px 20px;
}

.auth-form {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
    margin-left: 20px;
}

.credential-row {
    margin: 20px 0;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
}

.v-divider {
    margin: 4px 0;
    height: 1px;
    width: 100%;
    background-color: #f6f6f6;
}

.h-divider {
    height: 2px;
    width: 100%;
    background-color: #f6f6f6;
}


/* GAME HOME  */
.user-name-info {
    margin: 20px;
    color: #7e7e7e;
    text-align: center;
}

.game-home-container {
    margin: 20px 0;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
}

.chat-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.forum-container {
    scroll-behavior: smooth;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;

    margin: 10px 0;
    background-color: #ebebeb;

    border: 8px solid #dddddd;
    border-radius: 24px;
    overflow-y: scroll;
    min-width: 600px;
}

.forum-title {
    margin: 20px 0;
    text-align: center;
}

.client-name {
    display: flex;
    font-size: 32px;
    font-weight: bold;
    padding: 8px 16px;
    color: #7e7e7e;
    background-color: #ebebeb;
    text-align: center;
}

.client-name > span {
    color: #bbb;
}

.message-holder {
    width: 100%;
    border: 8px solid #ebebeb;
    border-radius: 24px;
}

.message-container {
    display: flex;
    flex-flow: column nowrap;
    background-color: #f6f6f6;
    width: 100%;
    height: 400px;
    overflow-y: scroll;
    overflow-x: hidden;
    margin: 0;
    padding: 0px;
}

.other-message,
.own-message {
    list-style: none;
    padding: 4px 8px;
    margin: 8px;
    max-width: 60%;
    font-size: 14px;

    word-wrap: break-word;
}

.other-message {
    border-radius: 20px 20px 20px 0;
    align-self: flex-start;
    background-color: white;
    box-shadow: -2px 4px 4px #dcdcdc;
}


.own-message {
    border-radius: 20px 20px 0 20px;
    align-self: flex-end;
    background-color: #2d2d2d;
    box-shadow: 2px 4px 4px #dcdcdc;
    color: #f6f6f6;
}

.message-timeline {
    display: block;
    font-style: italic;
    font-size: 12px;
    margin-top: 4px;
}

.message-feedback {
    list-style: none;
}

.feedback {
    font-style: italic;
    font-size: 14px;
    padding: 0 16px 16px 16px;
    color: #2d2d2d;
    text-align: center;
    list-style: none;
}

.message-form {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 100%;
    background-color: white !important;
    padding: 0px;
    border: 1px solid white;
    border-radius: 24px;
}

.message-input {
    flex-grow: 1;
    height: 48px;
    font-size: 16px;
    border: none;
    outline: none;
    padding: 0 12px;
    background-color: #fff;
}

.send-btn {
    height: 48px;
    font-size: 16px;
    border: none;
    padding: 0px 20px;
    outline: none;
    background-color: #fff;
    cursor: pointer;
}

.send-btn:hover {
    background-color: #104070;
    color: white;
}

.v-divider {
    height: 48px;
    width: 2px;
    background-color: #f6f6f6;
}

.online-quantity {
    margin: 20px 0;
    color: #7e7e7e;
    text-align: center;
}

.user-list-container {
    width: 450px;

    margin: 0 20px;
    text-align: center;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    background-color: #ebebeb;
    border: 8px solid #dddddd;
    border-radius: 24px;
}

.simple-user-card {
    width: 90%;
    margin: 10px 20px;   
    padding: 0 12px;

    display: grid;
    grid-template-columns: 30% 70%;
}

/* GAME PROFILE */
#update-game-profile-form {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.my-avatar-choose {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}

.avatar-choose {
    width: 200px;
}

.game-demo {
    margin: 4px 0;
    border: 4px solid #fff;
    border-radius: 20px;
    padding: 10px;
}