<form id="login-form" action = "/user/login" method="POST">
    <h2 class="form-title">Login</h2>

    <label for="username" class="form-label">
        Username: 
        <span class="hidden-error">{{errorMessage}}</span>
    </label>
    <div class="input-group">
        <span class="input-group-text" id="basic-addon1">
            <i class="fa-solid fa-circle-user"></i>
        </span>
        <input type="text" required class="form-control" name="username" id="username">
    </div>

    <label for="password" class="form-label">Password: </label>
    <div class="input-group">
        <span class="input-group-text" id="basic-addon1">
            <i class="fa-solid fa-key"></i>
        </span>
        <input type="password" required class="form-control" name="password" id="password">
    </div>


    <div class="button-row">
        <button type="button" class="btn btn-primary">
            <a href="/user/signup" style = "color: white !important; text-decoration: none !important;">Sign up</a>
        </button>

        <a href="/auth/google">
            <button id = "google-login-btn" type = "button" class = "btn btn-primary">
                <i class="fa-brands fa-google-plus"></i>
                Login with Google account
            </button>
        </a>

        <button id="submit-btn" type="submit" class="btn btn-primary">Login</button>
    </div>

</form>
